.slider-section {
  position: relative;
  &__triangle {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    @media (max-width: 480px) {
      display: none;
    }
  }

  &__text {
    @media (max-width: 768px) {
      width: 170px;
      height: 50px;
      padding: 10px 0 0 10px;
     }
     @media (max-width: 480px) {
      width: 130px;
      height: 40px;
      padding: 7px 0 0 7px;
    }
    padding: 15px 0 0 15px;
    position: absolute;
    bottom: 0;
    width: 217px;
    height: 72px;
    opacity: 0.9;
    background-color: #444;
    z-index: 2;
    span:first-child {
      display: block;
      color: #9a9a9a;
      font-family: Bebas;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      @media (max-width: 480px) {
        font-size: 12px;
      }
    }
    span:last-child {
      @media (max-width: 768px) {
        font-size: 20px;
        margin-top: 1px;
      }
      @media (max-width: 480px) {
       font-size: 16px;
      }
      display: block;
      color: white;
      font-family: Bebas;
      font-size: 28px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &__title {
    color: #474747;
    font-family: Bebas;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 10px;
    margin: 0px 0px 10px 0px;
  }

  &__description {
    color: #474747;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
}

.main-slider {
    // padding: 0px 0px 50% 0px;
		&__item {
		}

		&__img {
       display: block;
       min-height: 425px;
       @media (max-width: 768px) {
        min-height: 350px;
       }
       @media (max-width: 540px) {
        min-height: 300px;
       }
       @media (max-width: 480px) {
        min-height: 0;
        padding-bottom: 65%;
       }
    }


}

.slider-bottom-section {
    margin: 0px 0px 65px 0px;
    @media (max-width: 768px) {
      margin: 0px 0px 40px 0px;
     }
     @media (max-width: 480px) {
      margin: 0px 0px 20px 0px;
    }
}

.slider-section__bottom-text {
  background-color: #fbfbfb;
  padding-left: 20px;
  @media (max-width: 768px) {
    padding-left: 5px;
  }
  @media (max-width: 480px) {
    padding-left: 0px;
  }
}
